.padre {
    width: 700px;
    height: 450px;
    border: 1px solid black;
    display: flex;
   justify-content: space-between;
   background-color: rgb(17, 17, 94);
   flex-wrap: wrap;
    
}

.hijo {
    width: 200px;
    height: 200px;
    border: black solid 1px;
    display: flex;
    background-color: white;
}
.hijo-2 {
    width: 400px;
    height: 200px;
    border: black solid 1px;
    display: flex;
    background-color: white;
    justify-content: right;
}


.hijo-abajo {
    width: 200px;
    height: 200px;
    border: black solid 1px;
    display: flex;
    justify-content: left;
    background-color: white;
    
}

.hijo-2-abajo {
    width: 400px;
    height: 200px;
    border: black solid 1px;
    display: flex;
    background-color: white;
    justify-content: right;
    
    
}

.nieto {
    width: 170px;
    height: 170px;
    background-color: red;
    
}

.nieto-2 {
    width: 370px;
    height: 170px;
    background-color: red;
}

.nieto-3 {
    width: 170px;
    height: 170px;
    background-color: red;
    
}

.nieto-4 {
    width: 370px;
    height: 170px;
    background-color: red;
   
}



